---
import Hero from '@/components/hero/Hero.astro'
import Layout from '@/layouts/Layout.astro'
import H2 from '@/components/ui/H2.astro'
import Creations from '@/components/creations/Creations.astro'
import Button from '@/components/ui/Button.astro'
---

<Layout title="Welcome to Astro.">
  <Hero />
  <main class="py-12 md:py-20 text-primary-darkGray">
    <div class="container flow-content">
      <section class="relative">
        <img src="/images/desktop/image-interactive.jpg" alt="Immersive experiences that deliver" class="w-full md:w-[700px] z-[-150] relative" /> 
        <div class="flow-content-sm px-4 py-8 md:p-16 md:absolute bottom-0 right-0 md:max-w-[50%] z-10 bg-white">
          <H2>The leader in interactive VR</H2>
          <p class="text-center md:text-left">Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.</p>
        </div>
      </section>
      <section class="flow-content md:pt-20">
        <div class="flex md:justify-between justify-center">
          <H2>Our creations</H2>
          <Button style="hidden md:block" />
        </div>
        <Creations />
        <Button style="md:hidden mx-auto" />
      </section>
    </div>
  </main>
</Layout>
