<nav>
  <ul class="text-white grid md:flex gap-6 md:text-lg mx-auto max-w-fit mt-6 md:mt-0">
    <li><a href="">About</a></li>
    <li><a href="">Careers</a></li>
    <li><a href="">Events</a></li>
    <li><a href="">Products</a></li>
    <li><a href="">Support</a></li>
  </ul>
</nav>

<style>
  a {
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
    transition: all 0.3s;

    &:hover {
      border-bottom: 2px solid white;
    }
  }
</style>
