<ul class="flex gap-4 my-6 md:my-0 mx-auto max-w-fit md:mx-0">
  <li><a target="_blank" href="https://facebook.com"><img src="/images/icon-facebook.svg" alt="" /></a></li>
  <li><a target="_blank" href="https://x.com"><img src="/images/icon-twitter.svg" alt="" /></a></li>
  <li><a target="_blank" href="https://pinterest.com"><img src="/images/icon-pinterest.svg" alt="" /></a></li>
  <li><a target="_blank" href="https://instagram.com"><img src="/images/icon-instagram.svg" alt="" /></a></li>
</ul>

<style>
  img {
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
    transition: all 0.3s;

    &:hover {
      border-bottom: 2px solid white;
    }
  }
</style>
